<div class="col-lg-8 mx-auto p-3 py-md-5">
  <div class="row g-5">
    <div class="col-md-8">
      <h1 style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">おだぱーく</h1>
      <p>「オダパーク」は、完全に狂気に満ちたテーマパークです。まず、入口には非常に高い壁があり、巨大な門が閉じられています。入場するためには、パスワードを持っているか、アトラクションをすべてクリアする必要があります。
      </p>
    </div>
    <hr class="col-3 col-md-2 w-100">
    <div class="col-md-6">
      <h2 style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">グラビティ・ジャンプ</h2>
      <p>参加者は、空中に浮遊するバンジージャンプのようなものを体験します。しかし、このアトラクションは、一度飛び降りたら、地面に帰ってくることができなくなるという恐ろしいルールがあります。
      </p>
      <ul class="icon-list">
        <li>初回体験：1回につき100ドル</li>
        <li>2回目以降の体験：1回につき50ドル</li>
      </ul>
      <%= image_tag 'crazy_ferris_wheel.jpeg', class: 'img-fluid' %>
    </div>
    <div class="col-md-6">
      <h2 style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">あたおかの家</h2>
      <p>「あたおかの家」というアトラクションは、オダパーク内に実際に存在するかもしれません。このアトラクションは、一風変わった体験を提供してくれます。
        「あたおかの家」は、オダパーク内で最も不気味な場所の1つで、廃墟のような建物の中にあります。この建物は、見た目だけでなく、その内部も非常に奇妙で、魔法や超自然的な力が働いているように感じられます。
        「あたおかの家」の入り口には、見るだけでも不気味な小道具が並び、入る前には、観客には注意書きが表示されます。この建物に入ると、ドアは自動的に閉まり、参加者は閉じ込められたように感じます。
        建物内には、謎めいた生き物、幻覚、超自然的な現象、そして不気味な人形などが待ち受けています。また、建物内には、迷路のような部屋があり、出口を見つけることが非常に困難であることがあります。
        「あたおかの家」は、非常に奇妙で、とても怖いアトラクションであり、パーク内で最も人気のあるアトラクションの1つとなっています。参加者は、この不気味な建物から逃げ出すために、知恵と勇気を駆使しなければならないかもしれません。
      </p>
    </div>
    <hr class="col-3 col-md-2 w-100">
    <h2 style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">アトラクション一覧</h2>
    <table class="table">
      <thead>
        <tr style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);">
          <th scope="col">アトラクション名</th>
          <th scope="col">説明</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">マッド・サイエンティスト・ラボ</th>
          <td>参加者が自分で実験を行うことができる施設。危険な実験が含まれる。</td>
        </tr>
        <tr>
          <th scope="row">グラビティ・ジャンプ</th>
          <td>空中に浮遊するバンジージャンプのようなアトラクション。飛び降りたら地面に帰ってこられなくなることがある。</td>
        </tr>
        <tr>
          <th scope="row">鏡の迷宮</th>
          <td colspan="2">鏡の迷路を進みながら、非常に奇妙な姿をした人々が待ち受ける。</td>
        </tr>
        <tr>
          <th scope="row">あたおかの家</th>
          <td colspan="2">廃墟のような建物の中にあり、謎めいた生き物や幻覚が待ち受ける。出口を見つけるのは非常に困難。</td>
        </tr>
        <tr>
          <th scope="row">狂気のホラーハウス</th>
          <td colspan="2">非常にリアルなホラーハウスで、怪物や死体、人形などが待ち受ける。</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
